
  h2 {
    justify-self: center;
  }
  
  body { 
    margin: 0;
   display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: 40px 1fr 60px; 
  grid-gap: 10px;
  height: 10vh;
  font-family:'Times New Roman', Times, serif;
  color:rgba(9, 1, 1, 0.902);
  background-color:rgb(211, 172, 0);
  
  
  
} 

body h1 { 
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
  font-size: 50px;
margin: 30px;

}


main{
font-size: 20px;
font:bold;
text-align: center;
background-color:rgb(209, 209, 209)

} 

flex ctr{
text-align: center
}
footer{
font-size: 15px ;
text-align: center;
}

img {
  height:300px;
  width:300px;
  border-radius: 50%;
  align-items: center;
  justify-self: center;

}

.data {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding:0 ;
  margin:0 0 2em 0;
 
}
li {
  display: block;
  flex-direction: row;
  margin: 5px;
  padding: 5px 10px;
  border: 5px;
  border-style: solid;
  border-color: rgba(209, 203, 208, 0.695);
  max-width: 50%; 
  max-height: 70%;
  justify-self: center;
}

   ul {
    
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    
    
    justify-self: center;
  } 
